<nav class="nav" role="navigation" aria-label="dropdown navigation">

  <div class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        
        <a class="navbar-link"> Angular Fire </a>
        <div class="navbar-dropdown">
          <p class="menu-label">General</p>
          <hr class="navbar-divider">
          <a class="navbar-item" routerLink="dashboard">Dashboard</a>
          <a class="navbar-item" routerLink="charts">Charts</a>
          <a class="navbar-item" routerLink="reducer">Reducer</a>
          <a class="navbar-item" routerLink="animation">Animation</a>
          <a class="navbar-item" routerLink="translator">Translator</a>
          <p class="menu-label"> Transactions</p>
          <hr class="navbar-divider">
          <a class="navbar-item">Customers</a>
          <a class="navbar-item" routerLink="/payments">Payments</a>
          <a class="navbar-item">Transfers</a>
          <a class="navbar-item">Balance</a>
          <a class="navbar-item" routerLink="/pizza">Pizza</a>
        </div>

      </div>
    </div>
  </div>

  <div class="nav-center">
    <a class="nav-item" href="https://github.com">
      <span class="icon">
        <i class="fa fa-github"></i>
      </span>
    </a>
    <a class="nav-item" href="https://www.youtube.com">
      <span class="icon">
        <i class="fa fa-youtube"></i>
      </span>
    </a>
    <a class="nav-item" href="https://twitter.com">
      <span class="icon">
        <i class="fa fa-twitter"></i>
      </span>
    </a>
  </div>

  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span class="nav-toggle" (click)="toggleCollapse()" [ngClass]="{'is-active': show}">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <div class="nav-right nav-menu" [ngClass]="{'is-active': show}">
    <a class="nav-item" routerLink="/login"> Login </a>
    <a class="nav-item" routerLink="/items"> Items </a>
    <a class="nav-item" routerLink="/uploads"> Uploads </a>
  </div>

</nav>
