<img [src]="photoUrl" [@photoState]="position" class="photo"
[@photoState]="position"    
(@photoState.start)="logAnimation($event)"
(@photoState.done)="logAnimation($event)">   

<button (click)="changePosition('move')"    class="button">Translate</button>
<button (click)="changePosition('spin')"    class="button">Rotate</button>
<button (click)="changePosition('enlarge')" class="button">Scale</button>
<button (click)="changePosition(null)"      class="button">Reset</button>

<!-- <div [@photosAnimation]="photos.length">
    <div *ngFor="let photo of photos">
        <img  [src]="photo" >
    </div>
</div> -->